<div id="<%= dom_id bird %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= bird.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bird.description %>
  </p>

  <p>
    <%= link_to "Show this bird", bird %>
  </p>
</div>
