<p id="notice"><%= notice %></p>

<h1>Birds</h1>

<div class="mb-5">
  <label for="simple-input" class="form-label">Plain text bird names</label>
  <div data-controller="autocomplete" data-autocomplete-url-value="/birds/search">
    <input name="simple-input" type="text" class="form-control" data-autocomplete-target="input" placeholder="search a bird"/>
    <input type="hidden" name="bird_id" data-autocomplete-target="hidden"/>
    <ul data-autocomplete-target="results" class="list-group"></ul>
  </div>
</div>

<div id="birds">
  <%= render @birds %>
</div>

<%= link_to "New bird", new_bird_path %>
